.App {
  color: #0B0C10;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position:absolute;
  border: solid #97989C 1px;
  font-family: 'Thasadith', sans-serif;
  font-size: 3vw;
  overflow: hidden;
}

.container {
  position: absolute;
  padding: 0;
  width: 25vw;
  height: 37vw;
  top:50%;
  left:50%;
  margin-left:-12vw;
  margin-top:-17vw;
  align-items: center;
}

.row {
  padding: 0;
  margin: 0;
  height: 16%;
}

.col, .col-6, .col-3 {
  border: solid #97989C 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-screen {
  padding: 0;
  margin: 0;
  background-color: #171717;
  color: #FEFEFE;
  height: 20%;
  min-width: 100%;
  text-align: right;
  font-size: 5vw;
}

.display {
  margin: 0;
  padding: 0;
  display: inline-block;
  transform-origin: left bottom;
}

.dark-grey { background-color: #C0C0C2 }
.light-grey { background-color: #C9CACE }
.orange { background-color: #FB7B0A; color: #FED5B2; }


/* Tablets, Ipads (portrait) */

@media (min-width: 768px) and (max-width: 1024px)   {
.container {
  width: 300px;
  height: 450px;
  margin-left:-150px;
  margin-top:-225px;
  }

  .App {
    font-size: 3.5vw;
  }

  .display-screen {
  font-size: 7vw;
}
  
}

/* Tablets, Ipads (landscape) */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .container {
  width: 200px;
  height: 300px;
  margin-left:-100px;
  margin-top:-150px;
  }

  .App {
    font-size: 1.5vw;
  }

  .display-screen {
  font-size: 5vw;
}
  
}

/* Low Resolution Tablets, Mobiles (Landscape) */

@media (min-width: 481px) and (max-width: 767px) {
  .container {
  width: 200px;
  height: 300px;
  margin-left:-100px;
  margin-top:-150px;
  }

  .App {
    font-size: 2vw;
  }

  .display-screen {
  font-size: 6vw;
}
}

/* Most of the Smartphones Mobiles (Portrait) */

@media (min-width: 320px) and (max-width: 480px) {
  .container {
  width: 200px;
  height: 300px;
  margin-left:-100px;
  margin-top:-150px;
  }

  .App {
    font-size: 3.5vw;
  }

  .display-screen {
  font-size: 8vw;
}
}